.mygrid{
    background-color: #0c0720;
    margin-top: 22px;
}

.item1 {
    grid-area: orange;
    background-color: rgb(255, 98, 0) !important;
}

.item2 {
    grid-area: green;
        background-color: rgb(10, 187, 19) !important;}



.item3 {
    grid-area: main;
        background-color: rgb(0, 115, 255) !important;
}

.item4 {
    grid-area: blue;
            background-color: rgb(255, 200, 0) !important;
}

.item5 {
    grid-area: light;
            background-color: rgb(0, 115, 255) !important;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'orange orange orange orange blue blue'
        'green green green main main main'
        'green green green light light light';
    gap: 10px;
    background-color: #0c0720;
        padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 80px 0;
    font-size: 30px;
}

